opencv-python
pillow
biocode
scipy
torch
torchvision
numpy
pandas
torchsummary
streamlit
matplotlib
seaborn
scikit-learn
albumentations
pytorch-lightning
tensorboard
nibabel
scikit-image
